:root{
    /*Variáveis CSS*/
    --main-radius:5px; 
    --main-padding:5px;
}

body{
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 2fr 0.5fr;
    grid-template-areas: 
    "header header"
    "call call"
    "aside main"
    "footer footer"
    ;
    grid-gap: 0.2rem;
    font-family: Arial, Helvetica, sans-serif;
    font: 1em;
    color: #000000;
    text-align: center
}

header{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    grid-template-areas: "logo nav";
    grid-gap: 0.2rem;

    background-color: #d4d4d4;
    grid-area: header;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    justify-content: space-between;
}

.call{
    background-color: #d4d4d4;
    grid-area: call;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    font-style: italic
}

main{
    background-color: #d4d4d4;
    grid-area: main;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    text-align: center;
}

aside{
    background-color: #d4d4d4;
    grid-area: aside;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}
aside p{text-align: justify}

footer{
    background-color: #d4d4d4;
    grid-area: footer;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}



.logo{
    background-color: #ffffff;
    grid-area: logo;
    border-radius: var(--main-radius);
    margin: var(--main-padding);
    padding: var(--main-padding);
}

nav{
    background-color: #ffffff;
    grid-area: nav;
    border-radius: var(--main-radius);
    margin: var(--main-padding);
    padding-top: var(--main-padding);
    padding-left: 1rem;
    padding-right: 1rem;
}

.itens{
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 0.5rem;
}